* {
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

button {
	-webkit-user-select: none;
	user-select: none;
}

#timetables {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 50px;
}

#scroller {
	overflow: scroll;
	display: inline-block;
	height: 100%;
	width: 100%;
}

#week-controls {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
}

#week-controls>.week-control {
	width: 33.333%;
	box-sizing: border-box;
	height: 50px;
	font-size: 17px;
	border: 1px solid #ddd;
	background: #fff;
}

#week-controls>.week-control:not(:last-child) {
	border-right: none;
}

#week-controls>.week-control:active {
	background: #eee;
}

.timetable {
	border-collapse: collapse;
	margin-left: 50px;
}

.timetable thead tr {
	height: 45px;
}

.timetable tbody {
	background: #eee;
}

.timetable tr:not(:last-child) {
	height: 50px;
}

.activity {
	text-align: center;
	padding: 5px 5px 25px;
	position: relative;
}

.activity .loc {
	padding: 5px;
	position: absolute;
	bottom: 0px;
	left: 0;
	font-size: 12px;
}

#show-all {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 50px;
	background: #fff;
	z-index: 1001;
	text-align: center;
}

#hbar {
	position: absolute;
	background: #fff;
	top: 0px;
	left: 50px;
	height: 45px;
	padding: 5px;
	box-sizing: border-box;
	white-space: nowrap;
	z-index: 1000;
}

#hbar .cell {
	display: inline-block;
	text-align: center;
	margin: auto 0;
}

#hbar .day, #hbar .date {
	display: block;
	color: #888;
	white-space: nowrap;
}

#hbar .day {
	font-weight: 400;
}

#hbar .date {
	font-weight: 200;
	font-size: 14px;
}

#vbar {
	position: absolute;
	background: #fff;
	top: 38px;
	width: 50px;
	z-index: 1000;
}

#vbar .time-marking {
	padding-right: 5px;
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #888;
	text-align: right;
}
